**<font  size=6> 導入數據到vnpy </font>**

In [1]:
import pandas as pd
import os
import json
from tqdm import tqdm, tqdm_pandas

In [20]:
from vnpy_datamanager.engine import ManagerEngine
from vnpy.trader.constant import (Exchange, Interval)
from vnpy.trader.engine import BaseEngine, MainEngine, EventEngine

In [2]:
files = os.listdir('D:/股票歷史資料_各年度合併上櫃//')
os.chdir('D:/股票歷史資料_各年度合併上櫃//')

**<font  size=5 color = red> 注意:csv檔要符合以下格式</font>**

In [8]:
files[0]

'006201.csv'

In [9]:
df = pd.read_csv(files[0],index_col=0)

In [25]:
df

               datetime   open   high    low  close  volume  turnover
0      2020/01/02 09:00  14.18  14.18  14.18  14.18       2     28.36
1      2020/01/02 09:06  14.18  14.18  14.18  14.18       4     56.72
2      2020/01/02 09:10  14.23  14.23  14.23  14.23       5     71.15
3      2020/01/02 09:11  14.24  14.24  14.24  14.24       1     14.24
4      2020/01/02 09:18  14.26  14.29  14.26  14.29       9    128.52
...                 ...    ...    ...    ...    ...     ...       ...
12410  2021/12/30 12:36  23.85  23.85  23.85  23.85       3     71.55
12411  2021/12/30 12:37  23.85  23.85  23.85  23.85       4     95.40
12412  2021/12/30 12:49  23.85  23.85  23.85  23.85       1     23.85
12413  2021/12/30 13:12  23.88  23.88  23.88  23.88       1     23.88
12414  2021/12/30 13:30  23.88  23.88  23.88  23.88       1     23.88

[12415 rows x 7 columns]

In [26]:
#datetime要是自符串喔
df['datetime'][0]

'2020/01/02 09:00'

In [ ]:
files = os.listdir('D:/股票歷史資料_各年度合併上櫃//')
os.chdir('D:/股票歷史資料_各年度合併上櫃//')
manager = ManagerEngine(MainEngine,EventEngine)
for file in tqdm(files):
    #file[0:-4]就是去除.csv
    manager.import_data_from_csv(file,file[0:-4],Exchange.LOCAL,Interval.MINUTE,"Asia/Shanghai","datetime","open","high","low","close","volume","turnover","open_interest","%Y/%m/%d %H:%M")

找不到数据服务驱动vnpy_，使用默认的RQData数据服务

100%|██████████| 1337/1337 [57:28<00:00,  2.58s/it]